<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h1 class="text-center font-weight-bold pt-5">パスワードをリセットする</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field pt-3">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12 form-control" %>
        </div>
        <div class="actions pt-3">
          <%= f.submit "メールを送信", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="pt-3">
      </div>
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
