<div class="container">
   <h3>商品をシェア</h3>
   <%= form_for(@post, :url => { controller:'posts', action:'create'})do |f| %>
      <div class="field">
         <%= f.label :商品掲載サイトURL %>
         <br>
         <%= f.text_field :url, :size => 140 %>
         <br>
         <br>
         <%= f.label :設定価格 %>
         <br>
         ¥<%= f.number_field :price, min: 0, max: 9999999 %>
         <br>
         <br>
         <%= f.label :商品選択 %>
         <br>
         <%= f.collection_select :product_id, Product.all, :id, :name, include_blank: "選択して下さい" %>
         <br>
         <br>
         <%= f.label :商品画像 %>
         <br>
         <%= f.file_field :image %>
         <br>
      </div>
      <br>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
   <% end %>
</div>