<h1></h1>
<h3>ブランド追加</h3>
<%= form_for @brand do |f| %>
  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <%= f.submit "追加する" %>
<% end %>

<h3>ブランド一覧</h3>
<div class="brands-container">
  <% @brands.each do |t| %>
    <div class="brand">
      <%= t.name %>
      <%= button_to "削除する", brand_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>
<%= link_to "brands#index", brands_path %>